@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');


body{
  font-family: 'Gentium Plus', serif;
}

p{
font-size: 15px;
}

.discount{
  text-decoration: line-through;
}
@media(min-width: 900px) {
  .product-display{
    height: 800px;
    width: 1000px;
    background-color: antiquewhite;
    margin:auto;
   }
   .product{
   padding: 150px;
   display: flex;
   }
   img {
    height: 500px;
    width: 300px;
    border-radius: 16px 0 0 16px;
}
.pname{
  font-weight: 700;
  font-size: 40px;
  font-family: 'Gentium Plus', serif;

}
.description{
  background-color: white;
  height: 500px;
  width: 320px;
  border-radius: 0 16px 16px 0;
  padding-left: 20px;
}
button{
  background-color: rgb(74, 142, 113);
  padding: 15px;
  border-radius: 10px;
  width: 15vw;
}
button img{
  width: 15px;
  height: 15px;
  padding-right: 10px;
}
.cost{
  color:  rgb(74, 142, 113);
  font-size: 40px;
  font-weight: 700;
 }
}